@page
@model RegisterModel

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating my-2">
                <input asp-for="Input.Email" class="form-control" placeholder="exam@gmail.com" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating my-2">
                <input asp-for="Input.Password" class="form-control" placeholder="Password" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating my-2">
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            @if (User.IsInRole(RoleConstant.Role_Admin))
            {
                <div class="form-floating my-2">
                    <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                        <option disabled selected>--Select Role--</option>
                    </select>
                    <label asp-for="Input.Role"></label>
                </div>
            }            

            <div class="form-floating my-2">
                <input asp-for="Input.Name" class="form-control" placeholder="Full Name" aria-required="true" />
                <label asp-for="Input.Name">Full Name</label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating my-2">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone Number" aria-required="true" />
                <label asp-for="Input.PhoneNumber">Phone Number</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-floating mb-2">
                <input asp-for="Input.HomeNumber" class="form-control" placeholder="Home Number" />
                <label asp-for="Input.HomeNumber" class="pr-2">Home Number</label>
                <span asp-validation-for="Input.HomeNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Input.StreetName" class="form-control" placeholder="Street Name" />
                <label asp-for="Input.StreetName">Street Name</label>
                <span asp-validation-for="Input.StreetName" class="text-danger"></span>
            </div>
            
            
            <div class="form-floating my-2">
                <input asp-for="Input.Village" class="form-control" placeholder="Village" />
                <label asp-for="Input.Village"></label>
                <span asp-validation-for="Input.Village" class="text-danger"></span>
            </div>
            <div class="form-floating my-2">
                <input asp-for="Input.Commune" class="form-control" placeholder="Commune" />
                <label asp-for="Input.Commune"></label>
                <span asp-validation-for="Input.Commune" class="text-danger"></span>
            </div>

            
            <div class="form-floating my-2">
                <input asp-for="Input.City" class="form-control" placeholder="City" />
                <label asp-for="Input.City"></label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-floating my-2">
                <input asp-for="Input.PostalNumber" class="form-control" placeholder="Postal Number" />
                <label asp-for="Input.PostalNumber">Postal Number</label>
                <span asp-validation-for="Input.PostalNumber" class="text-danger"></span>
            </div>
            
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>        
        
        <hr />
    </div>   

    @if (!User.IsInRole(RoleConstant.Role_Admin)) {
        <div class="col-md-12">
            <section>
                <p class="divider-text d-flex"> or </p>
                <h3>Use another service to register.</h3>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                    article
                                    about setting up this ASP.NET application to support logging in via external services
                                </a>.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
