@using Microsoft.AspNetCore.Identity;
@inject UserManager<AppUser> UserManager
@model OrderVM

@{
	// If order is not yet paid, then set input to read only
	string? readOnly = "readonly";
	if (Model.orderHeader.PaymentStatus == OrderAndPaymentStatusConstate.PaymentStatusPending)
	{
		readOnly = null;
	}

	var userId = UserManager.GetUserId(User);


}

<form method="post">
	<input asp-for="@Model.orderHeader.OrderHeaderId" hidden />

	<div class="container h-100 py-2">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12">

				<div class="d-flex justify-content-between align-items-center mb-4">
					<h3 class="fw-normal mb-0 text-black">Order Detail</h3>

					<div class="d-flex align-items-center">
						<a asp-action="Index"
						class="btn btn-outline-secondary mr-2">Back</a>
					</div>
				</div>
			</div>
			<div>
				<div class="card border-0">
					<div class="card-body p-0">
						<div class="container rounded p-0">
							<div class="row">
								<div class="col-12 col-lg-6 pb-4">
									<div class="row">
										<h4 class="d-flex justify-content-between align-items-center mb-3">
											<span class="text-dark">Shipping Details:</span>
										</h4>
									</div>
									<div class="row my-1">
										<div class="col-4">
											<label>Name</label>
										</div>
										<div class="col-8">
											<input asp-for="@Model.orderHeader.Name" readonly="@readOnly" class="form-control" />
											<span asp-validation-for="@Model.orderHeader.Name" class="text-danger"></span>
										</div>
									</div>
									<div class="row my-1">
										<div class="col-4">
											<label>Phone</label>
										</div>
										<div class="col-8">
											<input asp-for="orderHeader.PhoneNumber" readonly="@readOnly" class="form-control" />
											<span asp-validation-for="orderHeader.PhoneNumber" class="text-danger"></span>
										</div>
									</div>

									<div class="row my-1">
										<div class="col-4">
											<label>Home Number</label>
										</div>
										<div class="col-8">
											<input asp-for="orderHeader.HomeNumber" readonly="@readOnly" class="form-control" />
											<span asp-validation-for="orderHeader.HomeNumber" class="text-danger"></span>
										</div>
									</div>
									<div class="row my-1">
										<div class="col-4">
											<label>Street Address</label>
										</div>
										<div class="col-8">
											<input asp-for="orderHeader.StreetName" readonly="@readOnly" class="form-control" />
											<span asp-validation-for="orderHeader.StreetName" class="text-danger"></span>
										</div>
									</div>
									<div class="row my-1">
										<div class="col-4">
											<label>Village</label>
										</div>
										<div class="col-8">
											<input asp-for="orderHeader.Village" readonly="@readOnly" class="form-control" />
											<span asp-validation-for="orderHeader.Village" class="text-danger"></span>
										</div>
									</div>
									<div class="row my-1">
										<div class="col-4">
											<label>Commune</label>
										</div>
										<div class="col-8">
											<input asp-for="orderHeader.Commune" readonly="@readOnly" class="form-control" />
											<span asp-validation-for="orderHeader.Commune" class="text-danger"></span>
										</div>
									</div>
									<div class="row my-1">
										<div class="col-4">
											<label>City</label>
										</div>
										<div class="col-8">
											<input asp-for="orderHeader.City" readonly="@readOnly" class="form-control" />
											<span asp-validation-for="orderHeader.City" class="text-danger"></span>
										</div>
									</div>
									<div class="row my-1">
										<div class="col-4">
											<label>Postal Code</label>
										</div>
										<div class="col-8">
											<input asp-for="orderHeader.PostalNumber" readonly="@readOnly" class="form-control" />
											<span asp-validation-for="orderHeader.PostalNumber" class="text-danger"></span>
										</div>
									</div>
									<div class="row my-1">
										<div class="col-4">
											<label>Order Status</label>
										</div>
										<div class="col-8">
											<input asp-for="orderHeader.OrderStatus" readonly class="form-control" />
											<span asp-validation-for="orderHeader.OrderStatus" class="text-danger"></span>
										</div>
									</div>
									<div class="row my-1">
										<div class="col-4">
											<label>Order Date</label>
										</div>
										<div class="col-8">
											<input asp-for="orderHeader.OrderDate" readonly class="form-control" />
											<span asp-validation-for="orderHeader.OrderDate" class="text-danger"></span>
										</div>
									</div>
									<div class="row my-1">
										<div class="col-4">
											<label>Payment Status</label>
										</div>
										<div class="col-8">
											<input asp-for="orderHeader.PaymentStatus" readonly class="form-control" />
											<span asp-validation-for="orderHeader.PaymentStatus" class="text-danger"></span>
										</div>
									</div>
									<div class="row my-1">
										<div class="col-4">
											<label>Payment Date</label>
										</div>
										<div class="col-8">
											<input asp-for="orderHeader.PaymentDate" readonly class="form-control" />
											<span asp-validation-for="orderHeader.PaymentDate" class="text-danger"></span>
										</div>
									</div>

									<div class="row my-1">
										<div class="col-4">
											<label>Session Id</label>
										</div>
										<div class="col-8">
											<input asp-for="orderHeader.SessionId" readonly class="form-control" />
											<span asp-validation-for="orderHeader.SessionId" class="text-danger"></span>
										</div>
									</div>
									<div class="row my-1">
										<div class="col-4">
											<label>Payment Intent Id</label>
										</div>
										<div class="col-8">
											<input asp-for="orderHeader.PaymentIntentId" readonly class="form-control" />
											<span asp-validation-for="orderHeader.PaymentIntentId" class="text-danger"></span>
										</div>
									</div>

									<div class="row my-1">
										<div class="col-4">
											<label>Deliver By</label>
										</div>
										<div class="col-8">
											<input asp-for="orderHeader.deliveryEmpName" readonly class="form-control" />
										</div>
									</div>

									<div class="row my-1">
										<div class="col-4">
											<label>Shipping Date</label>
										</div>
										<div class="col-8">
											<input asp-for="orderHeader.ShippingDate" readonly class="form-control" />
										</div>
									</div>

									<div class="row my-1">
										<div class="col-4">
											<label>Arrival Date</label>
										</div>
										<div class="col-8">
											<input asp-for="orderHeader.ArrivalDate" readonly class="form-control" />
										</div>
									</div>


									@if (this.User.IsInRole(RoleConstant.Role_Customer) &&
										Model.orderHeader.PaymentStatus == OrderAndPaymentStatusConstate.PaymentStatusPending &&
										Model.orderHeader.OrderStatus == OrderAndPaymentStatusConstate.StatusPending)
									{
										<button id="update-shipping" class="btn btn-primary col-12">Update Shipping Detail</button>
									}

								</div>
								<div class="col-12 col-lg-5 offset-lg-1">
									<h4 class="d-flex justify-content-between align-items-center mb-3">
										<span class="text-dark">Order Summary:</span>
									</h4>
									<ul class="list-group mb-3">
										@foreach (OrderDetail orderDetail in @Model.orderDetails)
										{
											<li class="list-group-item d-flex justify-content-between">
												<div>
													<h6 class="my-0">@orderDetail.Product.ProName</h6>
													<small class="text-muted">Unit Price: @orderDetail.UnitPrice.ToString("c")</small>
													<br>
													<small class="text-muted">Quantity: @orderDetail.Quantity</small>
												</div>
												<span class="text-muted">@orderDetail.Price.ToString("c")</span>
											</li>
										}

										<li class="list-group-item d-flex justify-content-between bg-light">
											<small class="text-primary">Total (USD)</small>
											<strong class="text-primary	">@Model.orderHeader.OrderTotal.ToString("c")</strong>
										</li>
									</ul>


									@if (this.User.IsInRole(RoleConstant.Role_Customer) &&
											Model.orderHeader.PaymentStatus == OrderAndPaymentStatusConstate.PaymentStatusPending &&
											Model.orderHeader.OrderStatus == OrderAndPaymentStatusConstate.StatusPending)
									{
										<!-- When not pay yet, display paynow and cancel button -->
										<div class="btn-group d-flex flex-column">
											<button asp-action="Pay" class="btn btn-primary mb-2 rounded">Pay Now</button>
											<button asp-action="Cancel" class="btn btn-danger rounded">Cancel Order</button>
										</div>
									}

									@if ((this.User.IsInRole(RoleConstant.Role_Admin) || this.User.IsInRole(RoleConstant.Role_Sale_Employee)) &&
											Model.orderHeader.PaymentStatus == OrderAndPaymentStatusConstate.PaymentStatusPending &&
											Model.orderHeader.OrderStatus == OrderAndPaymentStatusConstate.StatusPending)
									{
										<!-- When not pay yet, display paynow and cancel button -->
										<div class="btn-group d-flex flex-column">							
											<button asp-area="Admin" asp-action="Cancel" class="btn btn-danger rounded">Cancel Order</button>
										</div>
									}


									@if (this.User.IsInRole(RoleConstant.Role_Delivery_Employee) &&
											Model.orderHeader.PaymentStatus == OrderAndPaymentStatusConstate.PaymentStatusApproved &&
											Model.orderHeader.OrderStatus == OrderAndPaymentStatusConstate.StatusApproved)
									{
										<!-- When not pay yet, display paynow and cancel button -->
										<div class="btn-group d-flex flex-column">
											<button asp-area="Admin" asp-action="Pick" class="btn btn-primary rounded">Pick Order for Delivery</button>
										</div>
									}

									@if (userId == Model.orderHeader.DeliveryEmpId &&
											Model.orderHeader.OrderStatus == OrderAndPaymentStatusConstate.StatusInDelivering)
									{
										<!-- When not pay yet, display paynow and cancel button -->
										<div class="btn-group d-flex flex-column">
											<button asp-area="Admin" asp-action="Drop" class="btn btn-primary rounded">Drop Order for Customer</button>
										</div>
									}

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<script src="~/js/order/customer/order.js" defer></script>
	