@model ShoppingCartVM

<from method="post">
    <div class="container h-100 py-2">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                    
                    <div class="d-flex align-items-center">
                        <!--
                        <p class="mb-0">
                            <span class="text-muted">Sort by:</span> <a href="#!" class="text-body">
                                price <i class="fas fa-angle-down mt-1"></i>
                            </a>
                        </p>
                        -->
                        <a asp-area="Customer" asp-controller="Home" asp-action="Index" 
                            class="btn btn-outline-secondary mr-2">Continue Shopping</a>                    
                    </div>                    
                </div>

                @foreach (ShoppingCart cart in Model.shoppingCarts) {
                    <div class="card rounded-3 mb-4">
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <a asp-controller="Home" asp-action="Details" asp-route-proId="@cart.product.ProductId" class="col-md-5 col-lg-5 col-xl-5 d-flex justify-content-center align-items-center gap-4">
                                    <div class="w-50">
                                        <img src="@cart.product.ImageUrl"
                                             class="img-fluid rounded-3">
                                    </div>

                                    <div class="w-50">
                                        <p class="lead fw-normal mb-2">@cart.product.ProName</p>
                                        <p class="mb-0"><span class="text-muted">Category: </span>@cart.product.Category.CatName</p>
                                        <p><span class="text-muted">Unit price: </span>@cart.product.Price.ToString("c")</p>

                                    </div>
                                </a>
                                

                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex gap-2">
                                    <!--
                                        <a asp-action="Minus" asp-route-cartId="cart.cartId" class="btn btn-link px-2">
                                        <i class="bi bi-dash"></i>
                                        </a>
                                    -->

                                    <button id="minus" class="btn btn-link px-2 btn-lg" data-cart-id="@cart.cartId">
                                        <i class="bi bi-dash"></i>
                                    </button>

                                    
                                    <input type="text" value="@cart.qauntity"
                                           class="form-control form-control-sm text-center w-5" disabled/>

                                    <button id="add" class="btn btn-link btn-lg px-2" data-cart-id="@cart.cartId">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                </div>

                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                    <h5 class="mb-0">@cart.totalPrice.ToString("c")</h5>
                                </div>
                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                    <a id="remove" data-cart-id="@cart.cartId" class="text-white btn btn-danger">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                
                <div class="card">
                    <div class="card-body text-center">
                        <div class="w-50 mx-auto d-flex justify-content-between my-4">
                            <h5 class="card-title fw-semibold">Total (USD)</h5>
                            <h5 class="card-title fw-semibold">@Model.orderHeader.OrderTotal.ToString("c")</h5>
                        </div>
                        <a asp-action="Summary" class="btn btn-primary">Proceed to Pay</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</from>

@section Scripts {
    <script src="~/js/shoppingCart/shoppingCart.js"></script>
}