@model ShoppingCart

<form method="post">
    <input asp-for="@Model.productId" hidden/>
    <input name="productName" value="@Model.product.ProName" hidden/>

    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="row">
                    <div class="col-md-6">
                        <img src="@Model.product.ImageUrl" class="img-fluid" alt="Product Image">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">@Model.product.ProName</h5>
                            <h5 class="card-text">Current Price: <span>$@Model.product.Price</span></h5>
                            <p class ="card-text mb-0">Made In: @Model.product.OriginCountry</p>
                            <p class="card-text">Category: @Model.product.Category.CatName</p>

                            <div class="description-container">
                                <p class="card-text">@Html.Raw(@Model.product.Description)</p>
                            </div>
                                                    
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="bi bi-cart"></i></span>
                                </div>
                                <input asp-for="@Model.qauntity" type="number" value="1" class="form-control up-down-arrow" required>
                                <div class="input-group-append">
                                    <input class="btn btn-primary" type="submit" value="Add To Cart" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
