@model IEnumerable<Category>

<div>
	<partial name="_LoginPartial" />
</div>

@foreach (var cat in Model)
{
	<div class="fs-3 fw-bold d-flex justify-content-start align-items-center gap-3">
		<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
			<circle cx="8" cy="8" r="8" />
		</svg>
		@cat.CatName
	</div>
	<div class="overflow-y-hidden overflow-x-scroll d-flex justify-content-start align-items-center gap-4">
		@if (cat.products != null) 
		{
			@foreach (var pro in cat.products)
			{
				<div class="card shadow-sm my-4 rounded-4" style="min-width: 15rem; max-width: 20rem; min-height: 8rem; max-height: 30rem">
                    <div class="card-img-top p-2">
						<img src="@pro.ImageUrl" class="img-thumbnail rounded-5" alt="@pro.ProName" />
					</div>
					<div class="card-body d-flex flex-column align-items-start gap-3 px-4">
						<div class="fs-5 text-center" style="width: 100%">
							@pro.ProName
						</div>
                        <div class="d-flex justify-content-between align-items-center gap-4 fs-6" style="width: 100%">
							<div class="rounded-3 bg-success text-white" style="padding: 0.25rem 0.5rem; font-size: 13px; font-family: 'Franklin Gothic Medium';">
								$@pro.Price
							</div>
							<div>@pro.OriginCountry</div>
						</div>
						<div class="" style="width: 100%; text-indent: 1rem;">
							<div>
								@Html.Raw(@pro.Description)
							</div>
						</div>
					</div>
				</div>
			}
		}
	</div>
	
}

